
<div class="jumbotron mt-4 p-4 bg-success">
    <h1 class="display-4">Notes App Node.js MongoDB Passport </h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, eius.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium accusamus perspiciatis magnam cupiditate tenetur praesentium porro dolorum veniam cum delectus.</p>
    <a href="/about" class="btn btn-dark">About</a>
</div>
